<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="../static/img/money.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Money Money - Monthly Report</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="../static/img/money.png">
          </div>
        </a>
        <a class="simple-text logo-normal">
          {{profile.fullname}}
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="{% url 'profile' %}">
              <i class="nc-icon nc-single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a href="{% url 'addExpense' %}">
              <i class="nc-icon nc-cart-simple"></i>
              <p>Add Expense</p>
            </a>
          </li>
          <li class="active ">
            <a href="{% url 'monthlyreport' %}">
              <i class="nc-icon nc-chart-pie-36"></i>
              <p>Monthy Expense</p>
            </a>
          </li>
          <li>
            <a href="{% url 'yearlyreport' %}">
              <i class="nc-icon nc-chart-bar-32"></i>
              <p>Yearly Expenses</p>
            </a>
          </li>
          <li>
            <a href="{% url 'debtloan' %}">
              <i class="nc-icon nc-money-coins"></i>
              <p>Debts & Loans</p>
            </a>
          </li>
          <li>
            <a href="{% url 'notifications' %}">
              <i class="nc-icon nc-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="active-pro">
            <a href="{% url 'settings' %}">
              <i class="nc-icon nc-settings-gear-65"></i>
              <p>Settings</p>
            </a>
          </li>
          <li>
            <a href="{% url 'contactus' %}">
              <i class="nc-icon nc-send"></i>
              <p>Contact Us</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" >Money Money </a>
          </div>
        </div>
      </nav>
      <div class="content">
<!--        <button onclick="demo.initChartsPages()">click me</button>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="card ">-->
<!--              <div class="card-header ">-->
<!--                <h5 class="card-title">Users Behavior</h5>-->
<!--                <p class="card-category">24 Hours performance</p>-->
<!--              </div>-->
<!--              <div class="card-body ">-->
<!--                <canvas id=chartHours width="400" height="100"></canvas>-->
<!--              </div>-->
<!--              <div class="card-footer ">-->
<!--                <hr>-->
<!--                <div class="stats">-->
<!--                  <i class="fa fa-history"></i> Updated 3 minutes ago-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header">
              </div>
              <div class="card-body">
<!--                <div class="table-responsive">-->
                <div class="row" style="float:right">
                    <div class="update ml-auto mr-auto">
                      <select name="month" class="btn  btn-info btn-round" style="color:white">
                            <option disabled="true" selected>--select month--</option>
                          {% for mon in months %}
                            <option value="{{month}}">{{mon}}</option>
                          {% endfor %}
                          </select>
                      <button type="submit" class="btn btn-danger btn-round"  style="margin-left:20px" onclick="changemonth">submit</button>
                    </div>
                  </div>
                  <table class="table">
                    <thead class=" text-primary">
                      <th>Category</th>
                      <th class="text-right">Amount</th>
                    </thead>
                    <tbody>
                    <tr>
                    {% for exp,cat in cat_expenses  %}
                      <tr>
                        <td>{{cat.cat_name}}</td>
                        {% if month==1 %}
                        <td class="text-right">{{exp.m1}}</td>
                        {% elif month==12 %}
                        <td class="text-right">{{exp.m1}}</td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                    </tr>
                    </tbody>
                  </table>
<!--                  <form method="get" action="monthlyReport">-->
<!--                    {% csrf_token %}-->
<!--                    </form>-->
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Monthly Expenses</h5>
              </div>
              <div class="card-body ">
                <canvas id="chartEmail"></canvas>
              </div>
              <div class="card-footer ">
                <div class="legend">
                  <i class="fa fa-circle text-primary"></i> Category1
                  <i class="fa fa-circle text-warning"></i> Category2
                  <i class="fa fa-circle text-danger"></i> Category3
                  <i class="fa fa-circle text-gray"></i> Category4
                </div>
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar"></i>2
                </div>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script>

  </script>
  <!--   Core JS Files   -->
  <script src="../static/js/core/jquery.min.js"></script>
  <script src="../static/js/core/popper.min.js"></script>
  <script src="../static/js/core/bootstrap.min.js"></script>
  <script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../static/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="../static/demo/demo.js"></script>

</body>

</html>
